body{
  margin-top : 80px;
  background-image : url('http://img0.mxstatic.com/wallpapers/64ae9cb4e50bb843cea08806107fee0f_large.jpeg');
}

.right-inner-addon {
  position: relative;
  padding-left : 25%;
  padding-right : 25%;
  padding-top : 10%;
  padding-bottom: 5%;  
  
}

#random-button{
  position:relative;
  border-radius: 24px;
  width: 50%;
  margin-left: 25%;  
}
h1{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 100px;
  font-weight: bold;
}

at-the-top{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}

